#wrapper{
	height: 2000px;
	width: 1100px;
	background-color: #e8fff4;
}
#wrapper2{
	height: 610px;
	width: 1000px;
	background-color: #e8fff4;
}
#titles{
	height: 50px;
	width : 100%;
	background-color : black;
	text-align : center;
	color: white;
	font-family: Bodoni MT;
}
#topbar{
	height: 50px;
	width: 100%;
}
#names {
	font-weight: bold;
	font-family: Bodoni MT;
	text-align : center;
}

#background{
	height: 2000px;
	width: 1000px;
	background-color: red;
	opacity: 0.9;
	
}
#taskbar{
	height: 50px;
	width: 100%;
}
#taskbar ul, #topbar ul, #profile ul{
	display: inline-block;
	list-style-type: none;
	padding: 0px;
}
#taskbar li, #profile li{
	float: left;
}
#taskbar a, #topbar a{
	display: block;
	width: 100px;
	background-color: red;
	color: #FFFFFF;
	padding: 12px;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
}
#topbar a{
	background-color: #0BCDE0;
	font-size: 24px;
	
}
#taskbar a:hover, a:active{
	background-color: #00FA00;
}
#leftbar, #rightbar{
	height: 100%;
	width: 100px;
}
#leftbar{
	float: left;
}
#rightbar{
	float: right;
}
#content {
	font-family: arial;
	text-align: content;
	opacity: 1;
}
#memebers {
	
}
#ramtinarino{
	margin-left: 10px;
}
#josh{
	margin-right: 20px;
}
#tyler, #connor, #ramtinarino, #ali, #josh, #mark, #david, #courtney, #angela, #tom, #neil, #byron, #james, #jayden{
	display: inline;
	height: 300px;
	width: 150px;
}
#body{
	background-color: white;
}
#navbar {
	width: 100%;
	height: 50px;
	font-size: 30px;
	float: center;
	background-color: #AAB9FF;
	margin: 0px;
	padding: 0px;
}
.nav {
	margin-bottom: 18px;
	margin-left: 0;
	list-style: none;
	}

.nav > li > a {
	display: block;
}

.nav-tabs{
	*zoom: 1;
}

			.nav-tabs:before,
			.nav-tabs:after {
			  display: table;
			  content: "";
			}

			.nav-tabs:after {
			  clear: both;
			}

			.nav-tabs > li {
			  float: left;
			}

			.nav-tabs > li > a {
			  padding-right: 12px;
			  padding-left: 12px;
			  margin-right: 2px;
			  line-height: 14px;
			}

			.nav-tabs {
			  border-bottom: 1px solid #ddd;
			}

			.nav-tabs > li {
			  margin-bottom: -1px;
			}

			.nav-tabs > li > a {
			  padding-top: 8px;
			  padding-bottom: 8px;
			  line-height: 18px;
			  border: 1px solid transparent;
			  -webkit-border-radius: 4px 4px 0 0;
				 -moz-border-radius: 4px 4px 0 0;
					  border-radius: 4px 4px 0 0;
			}

			.nav-tabs > li > a:hover {
			  border-color: #eeeeee #eeeeee #dddddd;
			}

			.nav-tabs > .active > a,
			.nav-tabs > .active > a:hover {
			  color: #555555;
			  cursor: default;
			  background-color: #ffffff;
			  border: 1px solid #ddd;
			  border-bottom-color: transparent;
			}

			li {
			  line-height: 18px;
			}

			.tab-content.active{
				display: block;
			}

			.tab-content.hide{
				display: none;
			}
			